<!-- Declaração do tipo de documento e definição do idioma -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuração do conjunto de caracteres e escala inicial para dispositivos móveis -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título da página -->
    <title>Formulário</title>
</head>

<body>
    <!-- Título do formulário -->
    <h1>Formulário</h1>

    <!-- Início do formulário -->
    <form action="/" method="post">
        <!-- Campo para inserir o nome -->
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>

        <!-- Campo para inserir o CPF -->
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required>
        <br>

        <!-- Botão de envio do formulário -->
        <button type="submit">Adicionar Pessoa</button>
    </form>
    <!-- Fim do formulário -->
</body>

</html>
